<body class="hold-transition register-page" style="background-color: #4169E1">
<div class="register-box" style="width:400px">
  <div class="register-logo">
    <img src= "<%= image_path '/logo_supermom.PNG' %>" width="360px">
  </div>

  <div class="register-box-body" style="background-color: #4169E1">
    <h4><p class="login-box-msg" style="color:#F6F4F4">Register a new membership</p></h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
    <!--<form action="../../index.html" method="post">-->
      <div class="field">
          <%= f.label :name, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;" %>
      </div>
      <div class="field">
        <%= f.label :email, style: "color:#F6F4F4" %><br />
        <%= f.email_field :email, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;" %>
      </div>
      <div class="field">
        <%= f.label :password, style: "color:#F6F4F4" %>
        <% if @minimum_password_length %>
        <em style="color:#F6F4F4">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, style: "color:#F6F4F4" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;" %>
      </div>
      <div class="field">
          <%= f.label :address, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :address, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;" %>
      </div>
      <div class="social-auth-links text-center">
        <p style="color:#F6F4F4">- Baby Information -</p>
      </div>
      <div class="field">
          <%= f.label :baby_name, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :baby_name, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;" %>
      </div>
      <div class="field">
          <%= f.label :baby_sex, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :baby_sex, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;", placeholder: "남 / 여" %>
      </div>
      <div class="field">
          <%= f.label :baby_age, style: "color:#F6F4F4" %><br/>
          <p style="color:#F6F4F4">(만 나이로 입력해주세요. 만2세 전일 경우 개월 수로 입력해주세요.)</p>
          <%= f.text_field :baby_age, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;", placeholder: "개월 수는 뒤에 m을 붙여주세요." %>
      </div>
      <div class="field">
          <%= f.label :baby_height, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :baby_height, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;", placeholder: "단위(cm)는 입력하지 말아주세요." %>
      </div>
      <div class="field">
          <%= f.label :baby_weight, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :baby_weight, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;", placeholder: "단위(kg)는 입력하지 말아주세요." %>
      </div>
      <div class="field">
          <%= f.label :baby_head_length, style: "color:#F6F4F4" %><br/>
          <%= f.text_field :baby_head_length, autocomplete: "off", class: "form-control", style: "border:3px solid #FFA500;", placeholder: "단위(cm)는 입력하지 말아주세요." %>
      </div>
      
      <br>
      <div class="row">
        <div class="col-xs-8">
        </div>

        <div class="actions col-xs-4">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-flat", style:"background-color:#ff6464;border:0px" %>
        </div>
        <!-- /.col -->
      </div>
      
    <% end %>

    <%= render "devise/shared/links" %>
    <!--</form>-->


    <a href="/home/index1" class="text-center" style="color:#F6F4F4">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

