    <div class="box">
        <div class="box-header">
            <% if current_user.baby_age.include? "m" || current_user.baby_age.to_i < 7 %>
                <h2 class="box-title">
                    당신의 아이는
                    키 <%=current_user.baby_height%>cm로 
                    <strong style="color:red">
                        <%if current_user.baby_height.to_i > @resultHeight.to_i%>
                            평균이상
                        <%elsif current_user.baby_height.to_i < @resultHeight.to_i%>
                            평균이하
                        <%else%>
                            평균
                        <%end%>
                    </strong>,    
                    <!--상위 <strong style="color:red"> %</strong>, -->
                    
                    몸무게 <%=current_user.baby_weight%>kg으로 
                    <strong style="color:red">
                        <%if current_user.baby_weight.to_i > @resultWeight.to_i%>
                            평균이상
                        <%elsif current_user.baby_weight.to_i < @resultWeight.to_i%>
                            평균이하
                        <%else%>
                            평균
                        <%end%>
                    </strong>,    
                    <!--상위 <strong style="color:red"> %</strong>,  -->
                    
                    머리둘레 <%=current_user.baby_head_length%>cm로 
                    <strong style="color:red">
                        <%if current_user.baby_head_length.to_i > @resultHeadLength.to_i%>
                            평균이상
                        <%elsif current_user.baby_head_length.to_i < @resultHeadLength.to_i%>
                            평균이하
                        <%else%>
                            평균
                        <%end%>
                    </strong>
                    <!--상위 <strong style="color:red"> %</strong> 입니다. -->
                    입니다.
                </h2>
            <% else %>
                <h2 class="box-title">
                    당신의 아이는
                    키 <%=current_user.baby_height%>cm로 
                    <strong style="color:red">
                        <%if current_user.baby_height.to_i > @resultHeight.to_i%>
                            평균이상
                        <%elsif current_user.baby_height.to_i < @resultHeight.to_i%>
                            평균이하
                        <%else%>
                            평균
                        <%end%>
                    </strong>,  
                    
                    몸무게 <%=current_user.baby_weight%>kg으로 
                    <strong style="color:red">
                        <%if current_user.baby_weight.to_i > @resultWeight.to_i%>
                            평균이상
                        <%elsif current_user.baby_weight.to_i < @resultWeight.to_i%>
                            평균이하
                        <%else%>
                            평균
                        <%end%>
                    </strong>
                    입니다.
                </h2>
            <% end %>    
        </div>
        <div class="box-body">
            <!--<p>상위 25%란, 동일 연령대 100명을 기준으로 작은 순을 1번으로 하였을 때 25번째를 의미합니다.</p>-->
            <p>기준 : 2007년 소아 청소년 표준성장도표, 보건복지부</p>
        </div>
    </div>
            
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">한국 소아 성장 표준치(남아기준)</h3>
                </div>
                <!-- /.box-header -->
                    
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                              <th>나이(m은 개월수)</th>
                              <th>몸무게(kg)</th>
                              <th>키(cm)</th>
                              <th>신체질량지수(BMI)</th>
                              <th>머리둘레(cm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% DataBoy.all.each do |t| %>
                                <tr>
                                  <td><%=t.baby_age%></td>
                                  <td><%=t.baby_weight%></td>
                                  <td><%=t.baby_height%></td>
                                  <td><%=t.bmi%></td>
                                  <td><%=t.baby_head_length%></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">한국 소아 성장 표준치(여아기준)</h3>
                </div>
                <!-- /.box-header -->
                    
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                              <th>나이(m은 개월수)</th>
                              <th>몸무게(kg)</th>
                              <th>키(cm)</th>
                              <th>신체질량지수(BMI)</th>
                              <th>머리둘레(cm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% DataGirl.all.each do |t| %>
                                <tr>
                                  <td><%=t.baby_age%></td>
                                  <td><%=t.baby_weight%></td>
                                  <td><%=t.baby_height%></td>
                                  <td><%=t.bmi%></td>
                                  <td><%=t.baby_head_length%></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->

