<div class="row">
        
        <!-- ./col -->

        
        <%if @categories==""%>
        <div class="container" align="center">
          <img src= "<%= image_path '/menual.png' %>">
        </div>
        <%else%>
          <%@categories_array.each do |cate|%>
              <%if @categories.include? cate%>
                <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-<%=["black","red","aqua","blue","navy","teal","green","olive","yellow","orange","fuchsia","purple","maroon"].sample(1).join%>">
                  <div class="inner">
                    <p></p>
                    <%@cate_send = cate%>
                    <h3><center>
                      <%
                      @baby_age = User.find(current_user.id).baby_age
                      if @baby_age.include? "m"
                        cate = "아기 "+cate
                      elsif @baby_age.include? "개월"
                        cate = "아기 "+cate
                      else
                        @baby_age = @baby_age.to_i
                        case
                        	when @baby_age<=3 then
                        		cate = "아기 "+cate
                        	when @baby_age >3 && @baby_age<=7 then
                        		cate = "유아 "+cate
                        	when @baby_age >=8 && @baby_age<=13 then
                        		cate = "초등학생 "+cate
                        	else
                        		cate = "청소년 "+cate
                        end
                      end
                      %>
                      <%=cate%></center></h3><br><hr>
                      <%#
                      require '~/workspace/lib/naver_crawler.rb'
    	                @test = Naver_cralwer.new
                      @agent = Mechanize.new
                      @agent = @test.keyword_rslt(cate)
      	              @test.shift_to_blog(@agent, cate)
      	              Crawler.where(category_id: Category.where(keyword: cate).take.id).each do |c|
      	                Blog.where(blog_link: c.blog_link).each do |b|
      	                  keyword_extraction(b.blog_title, cate.gsub(" ", ""))
      	                end
      	              end
                      %>

                      
                    <center>
                      <%sort_h = keyword_ranking(cate)%>
                      <%if sort_h.size==0%>
                        <p>아직 정보가 수집되지 않았습니다!</p>
                      <%else%>
                        <%for i in 0..4%>
                        <p><%=i+1%>위. <%=sort_h[i][0]%></p>
                        <%end%>
                      <%end%>
                    </center>
      
      
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <% @cate_index = @categories_array.index(@cate_send) %>
                  <a href="/home/ranking/<%=@cate_index+1%>" class="small-box-footer">
                    More Ranking <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
                </div>
                <!-- ./col -->
              
          <%end%>
          <%end%>
        <%end%>
        </div>
      <!-- /.row -->


