<%def keyword_extraction(blog_title, keyword)
  blog_title.each_with_index do |v, i|
    # 	puts i
    	@all_content[i] = v.text 
    	@keysearch = TwitterKorean::Processor.new
        @divide_content = @keysearch.extract_phrases(@all_content[i])
        @appear_count=0
      #   기본 단어 사전 불러오기 (사물명사가 아닌 카테고리와 연관성 없는 감정명사 등을 거르기 위함)
        aFile = File.new('public/word.txt','r')
        fSize = aFile.stat.size
        if aFile
            content = aFile.sysread(fSize)
        else
            puts 'Unable open file'
        end
      #   인코딩 후 불필요한 기호 제거
        base = content.to_s.force_encoding("UTF-8")
        @base_dic = @keysearch.stem(base)
        @base_dic.delete("\",\"")
        @base_dic.delete("\"]")
        @base_dic.delete("[\"")
        @base_dic.delete(";\",\"")
      # 기본 사전과 마찬가지로 조사 등록 후 제거하기 위함
        @josa = ["이","가","께서","의","을","를","에","에게","께","한테","에서","와","과","로","으로","로서","으로서","로써","으로써","보다","랑","이랑","만큼","하고","더러","보고","이다","고","라고","이라고","며","이고","이며","이면","면","아","야","여","이여","이시여","요","은","는","도","만","조차","밖에","뿐","나","이나","깨나","일랑","부터","까지","라고","이라고","라도","이라도","마는","들", "그려", "그래", "손", "이야", "야", "다가", "커녕", "치고", "마다", "서껀", "야말로", "이야말로", "엔들", "이란", "란", "곧", "대로", "따라", "토록", "든지", "이든지", "이라야", "인즉"]
      # @noun_content = 걸러진 명사를 저장하기 위한 배열
        @noun_content = []
        @divide_content.each do |s|
            @metadata = s.metadata
            if @metadata.pos.to_s.include? "noun"
                if @josa.include? s
                else
                    @noun_content << s
                end
            elsif @metadata.pos.to_s.include? "alpha"
              @noun_content << s
            else
            end
            if s.include? keyword
                @appear_count=@appear_count+1
            else
            end
        end
        # 기본 사전 단어와 비교해서 포함되어있으면 거르고 아니라면 @complete_fillter_content 배열에 추가
        @complete_fillter_content = []
        @noun_content.each do |n|
          if @base_dic.include? n
          else
            if n.length > 3 and n.include? keyword
                @complete_fillter_content << n
            else
            end
          end
        end
        
        %>
        <h3><%=i%></h3>
        <p>all content : <%=@all_content[i]%></p>
        <p>형태소 분석기 가동 후 : <%=@divide_content%></p>
        <p>키워드 빈도수 : <%=@appear_count%></p>
        <p>명사 뽑아내기 : <%=@noun_content%></p>
        <p>BASE_WORD 걸러내기 : <%=@complete_fillter_content%></p>
        <%
    end
  
  end%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MoMCARE | Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">
  <!-- fullCalendar -->
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">


    
<%keyword_extraction(@blog_head, "젤리")%>    

 <div class="control-sidebar-bg"></div>


<!-- jQuery 3 -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- fullCalendar -->
<script src="../bower_components/moment/moment.js"></script>
<script src="../bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

</body>
</html>