<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mom-Care</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">
  
</head>

<body class="hold-transition skin-blue sidebar-mini" >
  
<% if user_signed_in? %>
  <div class="wrapper">
  
    <header class="main-header">
  
      <a href="/home/index1" class="logo" style="background-color: #4169E1">
      
        <span class="logo-mini"><b>MoM</b></span>
        
        <span class="logo-lg" style="background-color: #4169E1"><b>SUPER</b>MoM</span>
      </a>
       
      <nav class="navbar navbar-static-top" style="background-color: #4169E1">
  
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          
            <li class="dropdown messages-menu">

              <ul class="dropdown-menu">
                
                  
                  <ul class="menu">
                    <li><!-- start message -->
                      <a href="#">
                        <div class="pull-left">
                          <img src= "<%= image_path 'user2-160x160.jpg' %>" class="img-circle" alt="User Image">
                          <!--<img src="app/assets/imges/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                        </div>
                        <h4>
  
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
            
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src= "<%= image_path 'user3-128x128.jpg' %>" class="img-circle" alt="User Image">
                        </div>
                        <h4>
              
                          <small><i class="fa fa-clock-o"></i> 2 hours</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="<%= image_path 'user4-128x128.jpg' %>" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                
                          <small><i class="fa fa-clock-o"></i> Today</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="<%= image_path 'user3-128x128.jpg' %>" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                     
                          <small><i class="fa fa-clock-o"></i> Yesterday</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <img src="<%= image_path 'user4-128x128.jpg' %>" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                    
                          <small><i class="fa fa-clock-o"></i> 2 days</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                  </ul>
                </li>
               
              </ul>
            </li>
            
          </ul>
        </div>
      </nav>
    </header>
   
    <aside class="main-sidebar">
   
      <section class="sidebar">
         <!--Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src= "<%= image_path 'user2-160x160.jpg' %>" class="img-circle" alt="User Image">
          </div>
          <div class="info pull-left">
            <p><a href="/home/update"><%=current_user.name%></a></p>
            <i class="fa fa-circle text-red"></i> Online</a>
          </div>
          <%= button_to "logout", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"}, style: "color:#fff; background:#ff6464; border:0px;height:40px ;vertical-align: middle", class:"menuLink btn btn-primary pull-right" %>
        </div>
   

        <ul class="sidebar-menu" data-widget="tree">
          <li class="header" style="background-color:#FFA500; color:#000; font-weight:bold">
            <%=current_user.name%>님의 
            <%if current_user.baby_sex.eql? "여" %>
              예쁜 공주님
            <%else%>  
              멋진 왕자님
            <% end %>
            <%=current_user.baby_name%></li>
            <div class="box" style="margin-bottom:20px">
              <li><i class="fa fa-circle-o text-red" style="margin-top:20px; margin-left:10px"></i> <span>나이 : <%=current_user.baby_age%></span></a></li>
              <li><i class="fa fa-circle-o text-yellow" style="margin-top:10px;margin-bottom:10px; margin-left:10px"></i> <span>신장 : <%=current_user.baby_height%></span></a></li>
              <li><i class="fa fa-circle-o text-aqua" style="margin-bottom:10px; margin-left:10px"></i> <span>몸무게 : <%=current_user.baby_weight%></span></a></li>
              <%if current_user.baby_age.include? "m" or current_user.baby_age.to_i < 7%>
                <li><i class="fa fa-circle-o text-red" style="margin-bottom:20px; margin-left:10px"></i> <span>머리둘레 : <%=current_user.baby_head_length%></span></a></li>
              <%end%>
            </div>
        </ul>  

       
        <ul class="sidebar-menu" data-widget="tree">
          <form name="choose_categories_form" method="post">
            <input type="hidden" name="choose_categories" value="건강">
          <li class="header" style="background-color:#FFA500; color:#000; font-weight:bold">선호 카테고리</li>
            <div class="box" style="margin-bottom:20px; height:320px">
              <li><i class="fa fa-circle-o text-red" style="margin-top:20px; margin-left:10px"></i>  <input type="checkbox" autocomplete="off" name="category" value="건강"> 건강</li>
              <li><i class="fa fa-circle-o text-yellow" style="margin-top:10px;margin-bottom:10px; margin-left:10px"></i> <input type="checkbox" autocomplete="off" name="category" value="교육"> 교육</li>
              <li><i class="fa fa-circle-o text-aqua" style="margin-bottom:10px; margin-left:10px"></i> <input type="checkbox" autocomplete="off" name="category" value="도서"> 도서</li>
              <li><i class="fa fa-circle-o text-red" style="margin-bottom:10px; margin-left:10px"></i> <input type="checkbox" autocomplete="off" name="category" value="생활용품"> 생활용품</li>
              <li><i class="fa fa-circle-o text-red" style="margin-top:20px; margin-left:10px"></i>  <input type="checkbox" autocomplete="off" name="category" value="장난감"> 장난감</li>
              <li><i class="fa fa-circle-o text-yellow" style="margin-top:10px;margin-bottom:10px; margin-left:10px"></i> <input type="checkbox" autocomplete="off" name="category" value="여행"> 여행</li>
              <li><i class="fa fa-circle-o text-aqua" style="margin-bottom:10px; margin-left:10px"></i> <input type="checkbox" autocomplete="off" name="category" value="음식"> 음식</li>
              <li><i class="fa fa-circle-o text-red" style="margin-bottom:10px; margin-left:10px"></i> <input type="checkbox" autocomplete="off" name="category" value="패션"> 패션</li>
              <li><i style="margin-bottom:60px; margin-left:10px"></i> <button style="color:#fff; background:#ff6464; border:0px;height:40px ;vertical-align: middle", class="menuLink btn btn-primary pull-right", onClick="categoryMultiple();">SEARCH</button></li>
            </div>
            </form>
        </ul>
        
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header" style="background-color:#FFA500; color:#000; font-weight:bold">SUB MENU</li>
            <div class="box" style="margin-bottom:20px">
              <li><i class="fa fa-circle-o text-red" style="margin-top:20px; margin-left:10px"></i>
              <a href="/home/hospital" style="color:#000">
              <i class="fa fa-hospital-o"></i> <span>병원정보</span>
              <!--<span class="pull-right-container">-->
              <!--  <small class="label pull-right bg-green">new</small>-->
              <!--</span>-->
            </a>
            </li>
              <li><i class="fa fa-circle-o text-yellow" style="margin-top:10px;margin-bottom:10px; margin-left:10px"></i>
                <a href="/home/growth" style="color:#000">
                <i class="fa fa-pie-chart"></i>
                <span>우리아이 성장척도</span>
                </a>
              </li>
              <li><i class="fa fa-circle-o text-aqua" style="margin-bottom:20px; margin-left:10px"></i>
                <a href="/meetings" style="color:#000">
                <i class="fa fa-calendar"></i> <span>EVENT CALENDAR</span>
                </a>
              </li>
            </div>
        </ul>
         
        </ul>
      </section>
  
    </aside>
    
      <div class="content-wrapper">
           
        <section class="content-header">
        </section>
      
        <section class="content">
        </section>
      
      </div>
              
    <footer class="main-footer">
      <strong>Copyright &copy; 2017 엄마를 부탁해</a></strong> All rights reserved.
    </footer>
    <%=yield%>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% else %>
    <%=yield%>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%end%>
  

    <div class="control-sidebar-bg"></div>
  </div>
  <!--<#% end %>-->
  <script>
    function categoryMultiple(){
      var categories = [];
      var categories_checked = document.getElementsByName("category");
      var j = 0;
      for(var i = 0; i<categories_checked.length; i++){
        if(categories_checked[i].checked==true){
          categories[j] = categories_checked[i].value;
          j++;
        }
      }
      
      // alert(categories);
      document.choose_categories_form.choose_categories.value = categories;
      document.choose_categories_form.action = "/home/index1";
      document.choose_categories_form.submit;
    }
    
  </script>
</body>
</html>
